div {
font: 10px sans-serif;
}

.chart {
  margin-left: 42px;
  font: 10px sans-serif;
  shape-rendering: crispEdges;
  padding: 3px;
  margin: 20px;
}

.chart div {
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect {
  stroke: white;
  fill: steelblue;
}

.chart text {
  fill: green
}

path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

line {
    stroke: black;
}

text {
    font-family: Arial;
    font-size: 9pt;
}

circle {
	stroke: steelblue;
}